
Normal CSS Class :- <input type="text" [class]="myCSSClass1"> <br/>
Array CSS Class :- <input type="text" [class]="myCSSClass2"> <br/>
Condition Base CSS Class :- <input type="text" [class]="myCSSClass3"> <br/>
Variable and Method CSS Class :- <input type="text" [class]="myCSSClass4"> <br/>
 Direct Class Name  :- <input type="text" [class.TextColor]="true"> <br/>

 Attribute Binding Image :- <img [attr.src]="src" [attr.width]="width"> <br/>


 Style Binding :- <h1 [style]="TestStyle" [style.font-style]="'italic'">  {{Name}} </h1> <br/>


 Template Reference Variable  <br/>

 <input type="text" #TextValue value="Vinit Suryarao"> <br/>

 {{TextValue.value}}
